# Python Fundamentals Reference:

### Everything That Comes by Default - *data types/manipulation, function syntax, and built-in functions*
---
I began this notebook file to gather common Python programming techniques I kept relying on to solve various [CodeWars](https://codewars.com) challenges. But I decided to make the chief focus on more *basic fundamentals* to see just how quickly a few friends could pick up programming with no prior experience. **This notebook goes over three general subjects:**

* **Data Types:** Integers/floats, strings, booleans, lists and dictionaries, along with ways you can manipulate these.

* **Function Syntax:** Functions are a crucial coding feature that helps you avoid constantly typing the same things.

* **Built-In Functions and Keywords:** Functions/keywords programmers depend on a *lot* that are built into Python.

**My current guess is that someone can hit the "inflection point" in learning Python in under 21 hours.** This is the point when you know enough of the fundamentals that your rate of learning accelerates in a non-linear manner: https://stories.buffer.com/learning-to-code-is-non-linear-bf12dd6e1f4c

&nbsp;

![(an inflection point illustration is supposed to be here - if you see this text you probably aren't online)](https://cdn-images-1.medium.com/max/1600/1*VSDDnDj28BClWWjiOfU3bQ.png)

&nbsp;

**The least you need to know before you start is the following basic computer science info on what programming achieves:**

* A computer takes in **input**, **manipulates** it in various ways, and gives resulting **output**.

* **Programming** gives you *extremely detailed control* over customizing all of those steps.

The device you're reading this from likely has **input sources** (such as a mouse, keyboard, keypad), and the screen you're reading it from displays **resulting output** from whatever operating system and programs you're running. **Software** on the hardware device executes various steps to give an intended output based on whatever you put in.

**Throughout this notebook, keep those three things in mind (input, manipulation, output) and you'll soon appreciate how programming can allow you to do more with less effort. When writing code, you must know what kind of input data it must take in, the desired output you want to get, and the lines of code that will execute the steps needed to manipulate that input into the output you want. It will almost feel like *"sounding out"* the proper code the same way you learned to do the same for spelling words when you were little.**

## Two Warnings to Beginning Programmers Wishing to Learn from This Notebook:

1. Do not assume you can "learn" the material in this notebook by simply pressing `Shift + Enter` for each cell, and just *staring at the output* without reflecting on *why it turned out the way it did.* This is something that is tempting to do with a notebook file as opposed to a traditional `.py` file that is meant to be run as a program rather than a series of code cells that get executed individually.

2. To really get the most out of this notebook, I suggest you make a new one where you take the time to type the same code into a corresponding cell in the new notebook, *then* hit Shift + Enter to execute it. You need to get a feel for *writing code* to understand what it does.

3. You should never rely on a single source for *all* your Python learning, especially if one of those things happens to be a Jupyter notebook. This file type is generally specific to data science or machine learning, not full-stack programming (which may be what you hope to do someday). Check out the following too:

-Codecademy's Python 3 course:

-Codewars - 

-Learn Python the Hard Way and/or 

There are other resources out there worth checking out too, and new ones that will spring up long after I release this notebook file.

&nbsp;

## Overview of Contents:
---

### 0. Built-in Data Types

* `print()` Statement

* Documenting What Your Code Does

* Strings

* Numbers

* Variables

* Data Type Compatibility

* Basic Arithmetic

* Booleans (symbolic)

* Booleans (keywords)

* Lists and Tuples

* Slicing Lists and Strings

* `len()` and `.index()`

* Python Dictionaries

&nbsp;

### 1. Function Syntax

* Function Parts

* For and While Loops

* Getting User Input

* Calculating Centralities

* Interest Calculator

* Pyglatin Translator

* Math Quiz Generator

* Unique Word Counter

&nbsp;

### 2. Built-In Functions/Keywords

* sorted

* len

* min/max

* isdigit

---
## 0. Built-in Data Types

* `print()` Statement

* Documenting What Your Code Does

* Strings

* Numbers

* Variables

* Data Type Compatibility

* Basic Arithmetic

* Booleans (symbolic)

* Booleans (keywords)

* Lists and Tuples

* Slicing Lists and Strings

* `len()` and `.index()`

* Python Dictionaries

&nbsp;

First, we'll start with a quick overview of the kinds of data Python can take in, manipulate, and output. **A quick disclaimer since you're viewing this in a Jupyter Notebook:** *To output something in the visible Python console, you usually have to use a **print** statement:*

In [1]:
print('Hello world!')

Hello world!

Trust me, if you saw what code it would take to print "Hello world!" to the visible output in *other* programming languages, you would instantly appreciate why Python is such a good first language to learn. The Jupyter Notebook you're viewing this in automatically outputs the resulting contents of a code block with or without a print statement, that's not typical in a raw Python (.py) file.

**One Final Disclaimer: Don't just practice your code in a notebook file like this, try some of the free interactive courses that are online such as Codecademy's Python course, and then start using a site like Codewars to work your way up.**

---
### Documenting what your code does

In [2]:
# This is a comment, it doesn't get executed by a Python interpreter

"""
This is also a comment that doesn't get executed.
Multiple lines of comment can exist between triple
quotation marks.
"""

25 # this number is the only functional thing in this code block, so it's the only thing that outputs

25

---
### Strings

Strings are just raw characters that you don't do standard arithmetic on. When working with text, this is the format you'll be working with.

In [3]:
'This is text in string format'

'This is text in string format'

Notice that the output is also in quote marks. They're not a functional part of the output, but they get displayed so you know that it's string output.

In [4]:
# I'm now going to "concatenate" two strings (combine them)

'This will be ' + 'joined with ' + 'the others.' # notice the space at the end of the first two strings

'This will be joined with the others.'

In [5]:
'It\'s sometimes necessary to use a forward slash for certain characters.' # this is known as string escaping

"It's sometimes necessary to use a forward slash for certain characters."

Below is a string technique that allows you to `print()` something onto multiple lines by placing \n at the center.

In [6]:
print('This will use a technique to\ndivide a string into two lines when it outputs.')

This will use a technique to
divide a string into two lines when it outputs.

---
### Numbers

Below is an integer and a float. Yes there are other number types, but these matter most when it comes to fundamentals. The practical different is that the former is a whole number while the latter can store partial numbers. If you badly want to know more about floats, give this a read: https://en.wikipedia.org/wiki/Double-precision_floating-point_format

In [7]:
2 # integer

2

In [8]:
-2 # also an integer

-2

In [9]:
4.5 # float

4.5

In [10]:
-2.0 # this is also a float

-2.0

Sometimes you'll want to convert an integer into a float, or vice versa. Don't worry if you don't know why you would do so yet, we'll get into that later.

In [11]:
float(2) # this turns 2 into the float format: 2.0

2.0

In [12]:
int(2.0) # this turns 2.0 into the integer format: 2

2

There's also other number types (such as complex numbers, like the square root of -1) but you generally won't be using them as a beginner.

---
### Variables

You can assign a value (number, string, etc) to a phrase using an equal sign between the variable name and the content you want to store.

In [13]:
number = 2

In [14]:
number # outside of a notebook you would have to use print(number) to get the contents to display in the output

2

Assigning a new value to the same variable name will change it to that value:

In [15]:
number = 3

In [16]:
number # it will now return the most recent value it was assigned, which is now 3

3

**Keep in mind that a common beginner mistake is forgetting what was assigned to a variable name in your code, or how that value changes, especially if it has a high number of steps and variables.** This will become noticable once you start working with functions.

In [17]:
sentence_string = 'Yes, you can also store strings into a variable.'

In [18]:
sentence_string

'Yes, you can also store strings into a variable.'

---
### Data Type Compatibility

Notice however that variables have to be of the same type in order to combine them:

In [19]:
combination = 2 + 'a string'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Clearly that didn't work (you can't add an integer and a string together), so let's try changing one of them into a different data type. You can change the 2 into a string, but you can't change a string into a numeric data type. **The only exception is if the string consists entirely of base 10 characters (0-9) and/or has a period denoting that it's a string of a float number.**

In [20]:
combination = str(2) + ' is now a string'

In [21]:
combination

'2 is now a string'

In [22]:
combination = 2 + int(' this string will not convert')

ValueError: invalid literal for int() with base 10: ' this string will not convert'

The attempted data type change above didn't work because you can't really turn a sentence directly into an integer.

But what if the string characters are numbers?

In [23]:
int('25') # it's a string, but of numbers, so what will happen?

25

In [24]:
float('3.454') # notice the decimal character, what might that do?

3.454

You can check the data type that a Python expression evaluates to using a built-in function: `type()`

In [25]:
type(1) # will outut "int" which refers to the fact that 1 is an integer

int

In [26]:
type('this is a string') # the meaning of the str output is self-explanatory by now

str

In [27]:
type(1/2) # 1 divided by 2 leads to a float (0.5)

float

There will be times in which you'll need to convert between different data types in order to get code to do what you want it to, we'll look at some examples later on in this notebook. In that last `type()` example, we saw an example of using a basic math operation on two python data types.

We will now look into basic arithmetic.

---
### Basic Arithmetic

So far we've talked about different data types, but haven't really touched on how to manipulate them in any way. Let's start with standard math operations:

In [28]:
1 + 2 # addition

3

In [29]:
3 - 2 # subtraction

1

In [30]:
3 * 2 # multiplication

6

In [31]:
6 / 3 # division, this will lead to a float by default

2.0

In [32]:
6 // 3 # this will return an integer

2

In [33]:
3 / 2

1.5

In [34]:
3 // 2 # we call the double-slash division "floor" division because it rounds to the bottom value

1

In [35]:
3 ** 2 # exponents

9

And now for something different...

In [36]:
5 % 2 # this modulo operation will take more time than other features to wrap your mind around...

1

The least you need to know about that feature (as a beginner) is that it allows you to see if there are any remainders from dividing the first digit by the one that follows. This can be useful if you want to check if a number is even or odd (which some functions may need to do).

In [37]:
2 % 10

2

If you're a math-oriented individual, you may want to learn the finer details of how modulo works: https://stackoverflow.com/a/43669354

---
### Booleans (symbolic)

Booleans can be thought of as a condition with a value of either **True** or **False**. Below are some example expressions, but just how useful these are will become far clearer when we get to functions and control flow. 

First, here's how we check if two values are the same:

In [38]:
1 == 1 # use two equal signs to check if values are the same instead of assigning a value to a variable

True

In [39]:
1 == 2

False

In [40]:
'A string' == 'A string'

True

In [41]:
'A string' == 'Another string'

False

Now here's how we check if they're different: **!=**

In [42]:
1 != 1 # this will check to see if two values are not the same

False

In [43]:
1 != 2

True

In [44]:
'A string' != 'A string'

False

In [45]:
'A string' != 'Another string'

True

And now here's the rather obvious greater/less than checks:

In [46]:
1 > 2

False

In [47]:
1 < 2

True

By adding an equal sign to the mix, you can modify it to check if something is greater/less than OR equal to a value:

In [48]:
1 >= 2 # is 1 greater than or equal to 2?

False

In [49]:
2 >= 2 # is 2 greater than or equal to 2?

True

In [50]:
3 >= 2 # is three greater than or equal to 2?

True

Naturally the same works with less than:

In [51]:
1 <= 2 # is 1 less than or equal to 2?

True

In [52]:
2 <= 2 # is 2 less than or equal to 2?

True

In [53]:
3 <= 2 # is 3 less than or equal to 2?

False

---
### Booleans (keywords)
In addition to symbolic boolean checks, keywords can also be used. You can set a variable to a value of True or False:

In [54]:
variable = True

In [55]:
variable

True

We can even check if an expression matches the boolean value stored in "variable"

In [56]:
1 == 1 == variable # 1 == 1 is True, does that equal the value we stored in variable earlier?

True

In [57]:
1 != 1 == variable # for obvious reasons, this will therefore return False insted.

False

Now for a quick overview of how combining boolean operations will play out:

![Boolean Table - Must be online to see](https://s3.amazonaws.com/codecademy-content/courses/learn-python/Boolean+operators+dk.svg)

To clarify, this is what the table above means, starting with **AND** statements:

* Combining **True** *and* **True** *equals* **True**

* Combining **True** *and* **False** *equals* **False**

* Combining **False** *and* **True** *equals* **False**

* Combining **False** *and* **False** *equals* **False**

In [58]:
True and True

True

In [59]:
True and False

False

In [60]:
False and True

False

In [61]:
False and False

False

This is what the table is referring to with **OR** statements:

* Combining **True** *or* **True** *equals* **True**

* Combining **True** *or* **False** *equals* **True**

* Combining **False** *or* **True** *equals* **True**

* Combining **False** *or* **False** *equals* **False**

In [62]:
True or True

True

In [63]:
True or False

True

In [64]:
False or True

True

In [65]:
False or False

False

This is what the table is referring to with **NOT** statements:

* Not **True** equals **False**

* Not **False** equals **True**

Essentially adding "Not" simply negates whatever result follows. If it would normally result in **True** it will reverse it and vice versa.

In [66]:
not True

False

In [67]:
not False

True

**Hopefully you have a clear idea of why the code in each cell lead to the resulting output. Review it before starting the next section.**

---
### Lists and Tuples

As the name suggests, **lists** are a special kind of Python data type that can store multiple values, and of different types. Believe me, you'll learn to love this data type - especially if you do anything related to machine learning (which is what I usually do).

The contents go between two square brackets, and each item is separated by a comma.

**Tuples** are the same thing as lists, except once you declare them you can't modify them later.

In [68]:
a_list = [1,2,3] # assign the list to the variable "a_list"

In [69]:
a_list

[1, 2, 3]

In [70]:
type(a_list) # what data type is the a_list variable?

list

Lists can store multiple data types:

In [71]:
another_list = [1, 'a string', variable]

In [72]:
another_list

[1, 'a string', True]

You can also combine lists:

In [73]:
a_list + another_list # you could store these in a variable if you want to keep the result for later

[1, 2, 3, 1, 'a string', True]

You can append individual items to a list (if you want to modify it directly).

In [74]:
a_list.append(4)

In [75]:
a_list

[1, 2, 3, 4]

However, look what happens if we try to append a list to an existing list:

In [76]:
a_list.append([5,6])

In [77]:
a_list

[1, 2, 3, 4, [5, 6]]

The result we get is a *list within a list*. Sometimes we want this, other times we just want to extend a list instead. 

First, let's *remove* the two-item list from a_list:

In [78]:
a_list.remove([5,6])

In [79]:
a_list

[1, 2, 3, 4]

Now let's see what *extending* a list will do:

In [80]:
a_list.extend([5,6])

In [81]:
a_list

[1, 2, 3, 4, 5, 6]

As the result above shows, the `.extend()` function will do just that: extend a list to include the input list. On the other hand, `.append()` is generally used for appending a single item to an existing list at a time.

For the list data type, addition can be used:

In [82]:
[1,2] + [3,4]

[1, 2, 3, 4]

When you see the output of the list below, try to understand (based on the last dozen or so lines of code in this section) why it gave the result that it did:

In [83]:
[a_list, another_list, variable]

[[1, 2, 3, 4, 5, 6], [1, 'a string', True], True]

**By now you should be pretty comfortable knowing what lists and strings (from an earlier section) consist of. Now we'll learn how to manipulate these data types with a technique called *slicing*.**

You will use this a *lot* - so review this section as often as necessary.

---
### Slicing Lists and Strings

We are now going to explore one of the most critical techniques for manipulating data in Python: **Slicing**

Just as the *arithmetic* operations above are important for *numeric* data types, *slicing* is critical for handling *lists* and *strings*. Below you will see examples of slicing done on a list following by the same thing being done on a string.

In [84]:
[1,2,3,4,5][0]

1

In [85]:
'string'[0]

's'

To slice a string or list,

In [86]:
example_list = [1,2,3,4,5]

example_string = 'strng'

In [87]:
example_list[0] # will get the first item in the list

1

In [88]:
example_string[0] # will get the first item in the string

's'

Notice that when getting the last item out of five things, we use `[4]` instead of `[5]` since counting begins from zero.

In [89]:
example_list[4] # now we'll get the last number in the list

5

In [90]:
example_string[4] # now we'll get the last letter in the list

'g'

There's another technique for grabbing the last items in a list that can save you some time: `[-1]`

In [120]:
example_list[-1] # go back to the end of the list opposite from the first item: [0]

5

In [121]:
example_string[-1] # same result as the above, it will grab the first item from the opposite end

'g'

Now let's pull more than one item from both, notice that the first number in the brackets will grab that specific item, but the output will exclude the second number in the list or string:

In [122]:
example_list[0:2]

[1, 2]

In [123]:
example_string[0:2]

'st'

This next one will seem counter-intuitive at first, why does `[-2:]` get the last two items in a list or string?

In [118]:
example_list[-2:]

[4, 5]

In [124]:
example_string[-2:]

'ng'

The answer has to do with what each number in the bracket represents, in this case you are telling it to start with the *second to last item* with `-2`, and the *lack of a number* after the semi-colon means to grab each higher number until the sequence stops (which means it will output that last character as well).

Here's more examples that will drive this point home:

In [125]:
example_list[2:] # it will grab the third item in the list, and continue until the list ends

[3, 4, 5]

In [126]:
example_string[2:] # it will grab the third character in the string, and continue until the string ends

'rng'

Just a reminder, the number before the semi-colon will be the first item/character selected, and the second number will represent the *first thing* that gets *excluded* from the output. More examples below:

In [127]:
example_list[1:4] # gets the second item (the first would be with zero), and excludes the last one (5th)

[2, 3, 4]

In [128]:
example_string[1:4] # gets the second character from the string, and excludes the last one

'trn'

Now here's a really cool trick with slicing that surprisingly isn't covered in some beginner Python tutorials I've come across: *strides*

These are used to specify how many characters to move forward after the first item/character is grabbed before grabbing the next available item. Specifying a stride of `2` means that it will grab the first item, then move *two* spaces instead of the default one before getting the next item.

In plain English, this means the list will skip *every other item*.

In [129]:
example_list[::2] # grabs the first item, skips the second, grabs the third, etc...

[1, 3, 5]

In [130]:
example_string[::2] # grabs the first character, skips the second, grabs the third, etc...

'srg'

Same thing, but this time we'll start from the second character:

In [131]:
example_list[1::2] # gets the second item, skips third, gets fourth, and skips last

[2, 4]

In [132]:
example_string[1::2] # gets the second character, skips third, gets fourth, and skips last

'tn'

Now let's do the same, but with three strides:

In [133]:
example_list[::3] # now it skips every *two* items

[1, 4]

In [134]:
example_string[::3] # now it skips every two characters

'sn'

In [135]:
example_list[1::3]

[2, 5]

In [136]:
example_string[1::3]

'tg'

**Last but not least, here's a quick trick for reversing a list or string: `[::-1]`**

This will turn out to be far more useful later on than you may think.

In [137]:
example_list[::-1]

[5, 4, 3, 2, 1]

In [138]:
example_string[::-1]

'gnrts'

Here's the same thing, but only returning every other item in reverse order:

In [139]:
example_list[::-2]

[5, 3, 1]

In [140]:
example_string[::-2]

'grs'

By now you know the majority of what you'd ever need to know about slicing, but there's one last thing (I promise) you may find useful: *slicing a slice*

Below we are grabing the *second item* while *excluding the fifth* (`[1:5]`), then from *that* result we are grabbing the *second* item (`[1]`). It's simply executing a slice on an already predefined slice.

In [146]:
example_list[1:5][1]

3

In [147]:
example_string[1:5][1]

'r'

Now let's look at that same technique again with two more examples, and I swear we can start looking at Function Syntax after this.

In [149]:
example_list[2:4][0]

3

In [150]:
example_string[2:4][0]

'r'

What just happened? We took the *third* and *fourth* item/character stored in each variable, but excluded the fifth. That was then sliced again by taking the *first* thing in that list. So the result of using `[2:4][0]` to slice a list or string is that it will return the *third* item/character.

Okay, that's honestly all the string slicing you'll need for now. Just keep in mind that the first number before the semi-colon is the item in a list or string the slice will begin with (always starting from `0` of course), and the second number is the first item it will exclude from the list.

---

## 1. Function Syntax

* Function Parts

* For and While Loops

* Getting User Input

* Calculating Centralities

* Interest Calculator

* Pyglatin Translator

* Math Quiz Generator

* Unique Word Counter

&nbsp;

**Why use functions?** So far all we've been doing is going over data types and touched on ways to manipulate them, but we haven't actually spent any time understanding the context of when or how we would use them. No we'll get to see these data types and manipulation techniques used in a manner that's meant to *reduce* the amount of code you have to write.

This done by using **functions** - blocks of code that complete certain steps that you can call on as many times as you want without having to write the lines of code from scratch again. **Eliminating repitition is key if you want to write better code.**

---
### Function Parts

The image below gives a brief look at what the parts of a Python function are:

![(an image of a Python function for radius calculation should be visible if you're online)](http://slideplayer.com/slide/9048184/27/images/5/Function+parts+Argument(sent+in)\
+radius+is+called+a.+parameter.+def+vol_of_sphere(radius):\
+%EF%83\%9Fheader+vol+=+4/3.0*math.pi*radius**3+return+vol.jpg)